body {
    background: #833ab4;
    text-align: center;
    background: -webkit-linear-gradient(to right, #20002c, #8b5b9e);
    background: linear-gradient(to right, #20002c, #8b5b9e);
    color: #fff;
    margin-top: 250px;
}







p {
    font-size: 40px;
}

button {
    background-color: aqua;
    padding: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

button:hover {
    font-size: 15px;
    background-color: blue;

}